* {
  margin: 0;
  padding: 0;
}

/*  SECTOR DE ETIQUETAS */
header {
  background-color: rgb(205, 172, 246);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-bottom: 30px;
  height: fit-content;
  grid-area: header;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

iframe {
  width: 80%;
  max-width: 500px;
}

i {
  margin: 0px 5px;
}

main {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

section {
  background-color: rgb(217, 217, 217);
  padding: 15px;
  border-radius: 20px;
  grid-area: section;
}

article {
  margin: 0px 30px 0px 30px;
  text-align: center;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(217, 217, 217);
  height: 54%;
  width: 22%;
  margin: 123px 3% 0px 0px;
  padding: 10px;
  position: fixed;
  right: 0%;
  border-radius: 20px;
  grid-area: aside;
}
aside ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
aside ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5%;
  background-color: rgb(205, 172, 246);
  border-radius: 5px;
  width: 95%;
  height: 25%;
}
aside ul li:hover {
  background-color: rgb(177, 124, 241);
}
aside ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
aside ul li a:hover {
  text-decoration: none;
  color: whitesmoke;
}

form fieldset {
  border-radius: 10px;
  background-color: rgb(205, 172, 246);
  padding: 5px;
}
form fieldset h4 {
  margin: 20px 0px 5px 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(205, 172, 246);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  grid-area: footer;
  padding: 1% 0px 0px 0px;
  height: fit-content;
}
footer div {
  padding: 15px 0px;
}
footer div ul {
  margin: 0px;
  padding: 0px;
  max-width: 171px;
}
footer div ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3px;
}
footer div ul li a:hover {
  background-color: rgb(177, 124, 241);
  color: whitesmoke;
  border-radius: 5px;
  padding: 3px;
}

/*  SECTOR DE CLASES    */
/* NAVEGACION */
.navbar-brand {
  color: rgb(250, 255, 0);
  font-size: 32px;
}
.navbar-brand:visited {
  color: rgb(250, 255, 0);
  font-size: 32px;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  padding: 2px 8px;
  text-align: center;
  width: 30%;
}
.nav-link:hover {
  background-color: rgb(177, 124, 241);
  color: whitesmoke;
  border-radius: 5px;
}

/* TITULOS */
.titulo {
  font-family: pacifico, cursive;
  text-align: center;
  font-size: 35.2px;
  margin: 10px 0px;
  padding: 20px 10px 10px 10px;
}

.subtitulo {
  font-family: pacifico, cursive;
  text-align: center;
  font-size: 25.6px;
  margin: 10px 0px;
  padding: 10px 5px 5px 5px;
}

.subtitulo__segundo {
  text-align: center;
  font-size: 20.8px;
  margin: 5px 0px 5px 0px;
  padding: 10px 5px 5px 5px;
}

.descripcion {
  text-align: center;
  font-size: 14px;
  margin: 15px;
  padding: 10px;
}

.productos__listado__imagenes {
  height: 180px;
  width: 180px;
  margin-bottom: 10px;
}

.productos__listado__descripcion {
  width: 180px;
}

.lista__indice {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
.lista__indice li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
}
.lista__indice li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(205, 172, 246);
  border-radius: 5px;
  padding: 20%;
  height: fit-content;
  width: 100%;
  text-align: center;
}
.lista__indice li a:hover {
  background-color: rgb(177, 124, 241);
  color: whitesmoke;
}

.receta__indice__medida {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.contenedor__guia {
  background-color: rgb(205, 172, 246);
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  width: 80%;
  margin: 15px auto;
}
.contenedor__guia:hover {
  background-color: rgb(177, 124, 241);
  color: whitesmoke;
}

.recetaimg {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin: 10px 0px;
}

.evento__video {
  margin: 0px;
  padding: 0px;
}
.evento__video li {
  background-color: rgb(205, 172, 246);
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  width: 80%;
  margin: 20px auto;
}
.evento__video li:hover {
  background-color: rgb(177, 124, 241);
  color: whitesmoke;
}

.formulario__area {
  font-size: small;
}

.footer__animacion__texto {
  margin: 0px;
  font-family: "Pacifico", cursive;
}

/*  SECTOR DE ID    */
#inicio__articulo__uno {
  display: flex;
  margin-bottom: 10px;
}

#imgtext {
  width: 40%;
  height: 40%;
  padding: 10px;
}

#formulario {
  margin-bottom: 20px;
}

#proximoseventos, #eventosanteriores {
  padding: 10px;
  margin: 40px 20px;
}

#boton__inicio {
  margin: 20px 0px 10px 0px;
}

#boton__inicio__estilo {
  border-radius: 5px;
  background-color: rgb(205, 172, 246);
  padding: 5px;
  font-size: larger;
  margin: 20px 0px 0px 0px;
  width: fit-content;
}
#boton__inicio__estilo:hover {
  background-color: rgb(177, 124, 241);
  color: whitesmoke;
}

#productos__listado__grilla {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
#productos__listado__grilla li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  background-color: rgb(205, 172, 246);
  border-radius: 10px;
  padding: 20px;
}
#productos__listado__grilla li:hover {
  background-color: rgb(177, 124, 241);
  color: whitesmoke;
}

#input__formulario__checkbox {
  display: block;
  margin: 5px auto;
}

/* ANIMACIONES */
.footer__animacion {
  animation: visita 1.5s infinite;
}

@keyframes visita {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
/* SECTOR RESPONSIVE */
#grilla__inicio, #grilla__productos, #grilla__recetas, #grilla__eventos, #grilla__contacto {
  height: 100vh;
  display: grid;
  grid-template-areas: "header header" "section aside" "section aside" "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr repeat(2, 4fr) 120px;
}

@media (max-width: 320px) {
  #grilla__inicio, #grilla__productos, #grilla__recetas, #grilla__eventos, #grilla__contacto {
    margin: auto;
    width: min-content;
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "aside" "section" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(2, 4fr) 2fr;
  }
  header {
    width: 286px;
  }
  aside {
    flex-direction: column;
    padding: 0px 0px 20px 0px;
    margin: 0px auto 20px auto;
    height: auto;
    width: 80%;
    position: relative;
  }
  aside ul li {
    background-color: rgb(205, 172, 246);
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    text-align: center;
    margin: 10px 0px;
  }
  nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    align-items: center;
    width: 286px;
  }
  #imgtext {
    width: 70%;
    height: 70%;
  }
  #inicio__articulo__uno {
    flex-direction: column;
    align-items: center;
  }
  #proximoseventos, #eventosanteriores {
    margin: 0px 0px;
    padding: 0px 0px;
  }
  .productos__size {
    padding: 15px 0px;
  }
  .evento__video li {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }
  .lista__indice li {
    margin: 10px 0px;
    width: 80%;
  }
  .recetaimg, .productos__listado__imagenes {
    height: 100px;
    width: 100px;
  }
  .contenedor__guia {
    margin: 15px 0px;
    width: auto;
  }
  .articulo__guia {
    margin: 0px;
  }
}

/*# sourceMappingURL=estilosass.css.map */
