$color-1-grupo-1:rgba(205, 172, 246, 1);
$color-2-grupo-1:rgba(217, 217, 217, 1);

$color-1-grupo-2:whitesmoke;
$color-2-grupo-2:black;

$color-1-grupo-3:rgb(177, 124, 241);
$color-2-grupo-3:rgba(250, 255, 0, 1)