*{
    margin: 0;
    padding: 0;
}


/*  SECTOR DE ETIQUETAS */
header{
    background-color: rgba(205, 172, 246, 1);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-bottom: 30px;
    height: 80px;
    grid-area: header;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    width: 90%;
    margin: auto;
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 5px;
    padding: 2px;
}

header nav div p{
    color: rgba(250, 255, 0, 1);
    font-size: 40px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    text-decoration: underline;
}

iframe{
    width: 80%;
    max-width: 500px;
}

main{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

section{
    background-color: rgba(217, 217, 217, 1);
    padding: 15px;
    border-radius: 20px;
    grid-area: section;
}

article{
    margin: 0px 30px 0px 30px;
    text-align: center;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(217, 217, 217, 1);
    height: 50%;
    width: 18%;
    margin-top: 110px;
    margin-right: 3%;
    padding: 10px;
    position: fixed;
    right: 0%;
    border-radius: 20px;
    grid-area: aside;
}

aside ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

aside ul li{
    background-color: rgba(205, 172, 246, 1);
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    text-align: center;
}

aside ul li a:hover{
    text-decoration: none;
}

aside ul li:hover{
    background-color: rgb(177, 124, 241);

}

form fieldset{
    border-radius: 10px;
    background-color: rgba(205, 172, 246, 1);
    padding: 5px;
}

form fieldset h4{
    margin: 10px 0px 5px 0px;
}


footer{
    background-color: rgba(205, 172, 246, 1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;
    height: fit-content;
}

footer div ul li{
margin: 3px 0px;
text-align: center;
}










/*  SECTOR DE CLASES    */

.titulo{
    text-align: center;
    font-size: 35px;
    margin: 10px 0px;
    padding: 20px 10px 10px 10px;
}

.subtitulo{
    text-align: start;
    font-size: 25px;
    margin: 5px 0;
    padding: 10px 5px 5px 5px;
}

.descripcion{
    text-align: center;
    font-size: 14px;
    margin: 15px;
    padding: 10px;
}

.productoimg, .recetaimg{
    height: 250px;
    width: 250px;
}






/*  SECTOR DE ID    */

#inicio__articulo__uno{
    display: flex;
    margin-bottom: 10px;
}

#imgtext{
    width: 40%;
    height: 40%;
    padding: 10px;
}

#formulario{
    margin-bottom: 20px;
}

#proximoseventos, #eventosanteriores{
    background-color: rgba(205, 172, 246, 1);
    padding: 10px;
    border-radius: 10px;
    margin: 40px 20px;
}

#comeback{
    border-radius: 5px;
    background-color: rgba(205, 172, 246, 1);
    padding: 5px;
    text-decoration: none;
    font-size: larger;
    margin: 20px 0px 0px 0px;
    width: fit-content;
}

#input__formulario__checkbox{
    display: block;
    margin: 5px auto;
}

/* SECTOR RESPONSIVE */

#grilla__inicio{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "section aside"
    "section aside"
    "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr repeat(2, 4fr) 120px;
}


@media (max-width: 320px){
    #grilla__inicio{
        height: 100vh;
        display: grid;
        grid-template-areas: 
        "header"
        "aside"
        "section"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 2fr repeat(2, 4fr) 120px;
    }
    aside{
            flex-direction: column;
            padding: 0px 0px 20px 0px;
            margin: 0px auto 20px auto;
            height: auto;
            width: 80%;
            position: relative;
        }
    aside ul li{
            background-color: rgba(205, 172, 246, 1);
            border-radius: 5px;
            padding: 20px;
            width: 80%;
            text-align: center;
            margin: 10px 0px;
        }
        #inicio__articulo__uno{
            flex-direction: column;
            align-items: center;
        }
        footer{
            flex-direction: column;
        }
        header{
            height: fit-content;
        }
        nav{
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        nav ul{
            flex-direction: column;
        }
        #imgtext{
            width: 70%;
            height: 70%;
        }
}