*{
    margin: 0;
    padding: 0;
}


/*  SECTOR DE ETIQUETAS */
header{
    background-color: rgba(205, 172, 246, 1);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-bottom: 2em;
    height: 100px;
}

header nav div p{
    color: rgba(250, 255, 0, 1);
    font-size: xx-large;
}

li{
    list-style: none;
}

aside ul li:hover{
    background-color: rgba(205, 172, 246, 1);
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    text-decoration: underline;
}

main{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

section{
    background-color: rgba(217, 217, 217, 1);
    padding: 2%;
}

aside{
    background-color: rgba(217, 217, 217, 1);
    height: fit-content;
    margin: 4px 4px;
}


footer{
    background-color: rgba(205, 172, 246, 1);
}

footer div div ul li{
    font-size: 14px;
}

footer div div img{
    width: 80px;
    height: 80px;
}








/*  SECTOR DE CLASES    */

.titulo{
    text-align: center;
    font-size: 35px;
    margin: 10px 0px;
    padding: 20px 10px 10px 10px;
}

.subtitulo{
    text-align: start;
    font-size: 25px;
    margin: 5px 0;
    padding: 10px 5px 5px 5px;
}

.descripcion{
    text-align: center;
    font-size: 14px;
    margin: 15px;
    padding: 10px;
}







/*  SECTOR DE ID    */

#imgtext{
    width: 250px;
    height: 210px;
}

#formulario{
    margin-bottom: 20px;
}